html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.header {
  margin: 0;
  padding: 2rem 0;
}

.header h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  gap: .5rem;
  overflow: hidden;
}

.header p {
  font-size: .9rem;
  opacity: 0.5;
  line-height: 1.5;
}
.header p a {
  opacity: 1;
  border-bottom: 1px solid gray;
}

.header p a:hover {
  opacity: .6;
}

.container {
  max-width: 1800px;
  margin: 1rem auto;
  padding: 0 2rem;
}

.service-header {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.cover {
  width: 250px;
  margin: -30px 0 0 0;
  justify-self: end;
}

.meta {
  opacity: 0.5;
  font-size: .85rem;
  margin-bottom: 2rem;
}
.meta span {
  font-weight: bold;
}

.footer {
  opacity: 0.5;
  padding-top: 4rem;
  font-size: .8rem;
  text-align: center;
}

section .notionate-blocks-text-p,
section .notionate-blocks-text-h2,
section .notionate-blocks-callout,
section .notionate-blocks-bookmark {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.5rem;
    display: block;
    text-align: center;
  }
  .header h1 span {
    margin-right: 10px;
  }
  .service-header {
    display: block;
  }
  .name {
    margin: 0;
    padding: 10px 0 5px;
  }
  .meta {
    margin: 0;
  }
  .cover {
    display: block;
    width: 100px;
    margin: 0 auto;
  }
  section .notionate-blocks-text-h2 {
    font-size: 1.2rem;
  }
}